<!DOCTYPE html>
<html lang="en">
<head th:replace="front/_fragmentsfront :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--引入自定义的style-->
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航
        引用ui里的元素 attached:没有圆角
-->
<nav class="ui inverted attached segment padded-td-mini m-shadow-small" th:replace="front/_fragmentsfront :: menu(5)">
    <div class="ui inverted container">
        <div class="ui inverted stackable menu">
            <h3 class="ui teal header item"><i class="book icon"></i>Tyrant</h3>
            <a href="#" class="head-item item m-mobile-hide"><i class="mini home icon"></i> 首页</a>
            <a href="#" class=" head-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="head-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="head-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="active head-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="head-item m-mobile-hide right item">
                <div class="ui icon input focus inverted">
                    <input type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black button icon top-right m-mobile-show" id="menu-toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间部位-->
<div class="padded-td-massive blog-container">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <img src="../../static/images/kobe.jpg" alt="" class="ui fluid rounded image">
            </div>
            <div class="five wide column">
                <div class="ui top attached teal segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p class="opacity-mini">大家好，我是暴君，或者叫我敛财者，嗯，很low的名字，这是我的个人博客，会分享一些自己觉得适合分享的东西，希望大家喜欢吧</p>
                    <p class="opacity-mini">其实对本博客的定位是很模糊的，可能想我想放什么就会放点什么吧</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui red basic left pointing label">编程</div>
                    <div class="ui red basic left pointing label">篮球</div>
                    <div class="ui red basic left pointing label">看剧</div>
                    <div class="ui red basic left pointing label">旅游</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal basic label">Java</div>
                    <div class="ui teal basic label">MySQL</div>
                    <div class="ui teal basic label">Oracle</div>
                    <div class="ui teal basic label">apache</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="#" class="ui github circular icon button" data-content="tyrant-profiteur"
                       data-position="bottom center"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="674389994"
                       data-position="bottom center"><i class="qq icon"></i></a>
                </div>
                <div class="ui wechatMe flowing popup transition hidden" style="width: 100px;">
                    <img src="../../static/images/wechat.jpg" alt="" class="ui rounded image"
                         style="width: auto">
                </div>
            </div>
        </div>
    </div>
</div>


<!--底部footer-->
<footer class="ui inverted vertical segment" th:replace="front/_fragmentsfront :: footer">
    <!--容器-->
    <div class="ui center aligned container padded-td-massive">
        <!--使用网格将其分开 stackable:响应手机端，可堆叠的-->
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image"
                             style="width: 100px;" alt="">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header text-thin">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">我的博客创建了！</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header text-thin">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item"><i class="envelope icon"></i> wh961119@163.com</a>
                    <a href="#" class="item"><i class="qq icon"></i> 674389994</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header text-thin">tyrant-profiteur</h4>
                <div class="ui inverted link list">
                    <p class="opacity-mini">大家好，我是暴君，或者叫我敛财者，嗯，很low的名字，这是我的个人博客，会分享一些自己觉得适合分享的东西，希望大家喜欢吧</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p style="opacity: 0.4;">©2020 tyrant-profiteur</p>
    </div>
    <!--定义背景-->
    <div>
        <canvas id="line" width="auto" height="auto"
                style="position: fixed; top: 0px; left: 0px; z-index: 0;"></canvas>
        <!--        <canvas id="Snow" style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 99999;background: rgba(255,255,240,0.1);pointer-events: none;"></canvas>-->
    </div>
</footer>

<!--/*/<th:block th:replace="front/_fragmentsfront :: basicScript">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('#menu-toggle').click(function () {
        $('.head-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup: $(".wechatMe.popup"),
        on: 'hover',
        position: 'bottom center'
    });
    $('.qq').popup();
    $('.github').popup();
</script>
</body>
</html>